#about__img{
  margin: 30px 0;
  width: 500px;
  filter: opacity(0.5);
}

.container__about {
  padding: 0 2rem;
  height: 100%;
  display: flex;
}

.container__left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 500px;
}

#about__header {
  font-size: 3.75rem;
  letter-spacing: 0.25rem;
}

.about__info {
  max-width: 220px;
  font-size: 1.25rem;
}

.con

.container__about__img {
  display: flex;
  justify-content: center;
  align-items: center;
}