@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-color: #020202;
  color: #c66f1b;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Slab", "Helvetica", serif;
}

a {
  text-decoration: none;
  color: #c66f1b;
}

/* FUTURE: bg video with grayscale or blend */
.hero {
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.hero::before {
  content: "";
}

.bg-video {
  width: 100%;
  height: 100%;
  background-color: #020202;
  filter: opacity(0.03);
}



/* header */
#header {
  height: 5.125rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

#resume-btn {
  margin-right: 3rem;
  color: #169c99;
  border: 2px solid #169c99;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
#resume-btn:hover,
#resume-btn:active {
  border: 1px solid #c66f1b;
  font-weight: 600;
  box-shadow: 0 2px 8px 2px #169b99;
  transition: all 300ms ease-in-out;
}






/* main */
main {
  flex: 1;
}

.container__navbox {
  position: absolute;
  left: 6.06rem;
  top: 5.09rem;
  width: 6rem;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.navbar__link {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #c66f1b;
  color: #020202;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

#img__main {
  width: 500px;
  border: 1px solid;
}

.container__frame {
  height: 100%;
  margin-inline: 6rem;
  border-left: 1px solid; 
}

.container__content {
  height: 100%;
  margin-inline: 6rem;
  border-left: 1px solid;
}

.homepage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container__img {
  margin-top: 3rem;
}

.container__social {
  position: absolute;
  right: 0.3rem;
  bottom: 5rem;
}

#socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.socials__link {
  margin: 0.3rem;
  padding: 0.25rem;
}

.fa-github {
  color: #169b99;
}

.fa-linkedin {
  color: #169b99;
}

.fa-person-drowning {
  color: #169b99;
}

.fa-paper-plane {
  color: #169b99;
}

.socials__link:hover, .socials__link:active {
  background-color: #020202;
  border-radius: 0.5rem;
  border: 1px solid;
  box-shadow: 0 2px 8px 2px #169b99;
  transition: all 300ms ease-in-out;
}





/* footer */
#footer {
 height: 6rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

#footer p {
  display: none;
}